.login-container{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container form{
    padding: 40px 25px;
    box-shadow: 0 6px 8px rgba(0,0,0,.3);
    border-radius: 15px;
}

.login-container form p{
    font-size: 15px;
}

.login-container form p a{
    font-size: 20px;
}