.signup-container{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-container form{
    width: 400px;
    padding: 40px 25px;
    box-shadow: 0 6px 8px rgba(0,0,0,.3);
    border-radius: 15px;
}

.signup-container form a{
    font-size: 20px;
}
